#title {
  background-color: #66c5c5;
  color: #810955;
}

h1 {
  font-family: "Montserrat-black";
  size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: "Montserrat";
}

/* navigation bar */
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5 rem;
  color: #810955;
}

.navbar {
  padding-bottom: 3.5rem;
}

.nav-item {
  padding: 0 10px;
}
.nav-link:hover{
 color:#810955

}
.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.1rem;
}

h3 {
  font-family: "Montserrat-Bold";
}

p {
  color: #CDC2AE;
}

h2 {
  font-family: "Montserrat-Bold";
  line-height: 2.5rem;
}

/* Downlaod butons */
.download-buttons {
  margin: 5% 3% 3% 0;
}

/* title image */
.title-image {
  width: 700px;
  height: 525px;


}

/* featurs section */
#features {
  padding: 7% 14%;

}

.feature-box {
  text-align: center;
}

/* icons */
.icon-3 {
  color: #F94C66;
  margin-bottom: 10px
}

.icon-2 {
  color: #42C2FF;
  margin-bottom: 10px;
}
.icon-1 {
  color: #019267;
  margin-bottom: 10px;
}

.icon-3:hover {
  color: #F47C7C
}

.icon-2:hover {
  color: #85F4FF;
}

.icon-1:hover {
  color: #00C897
}

/* testimonials */
#testimonials {
  background-color:  #66c5c5;
  padding: 7% 14%;
  text-align: center;
  color: #212529;
}

.Tommy-image {
  width: 170.663px;
  height: 159px;
  margin-top: 25px;
  border-radius: 100%
}

/* press */
#press {
  text-align: center;
  padding-bottom: 5%;
  background-color:#66c5c5;
}

.press-logo {
  width: 15%;
  margin-right: 30px;
}


/* id-cards-pricing section */

#pricing{
  padding: 100px;
  text-align: center;

}
.pricing-letters{

  font-family:"Montserrat";
  color: #212529;
  text-align: center;
}

.pricing-coloumn{
  padding: 3% 5%;
}


  /* <call for action> */

#cta{
  background-color:  #66c5c5;
  padding: 7% 14%;
  text-align: center;
  color: #810955;
  padding: 3% 5%;
    font-family:"Montserrat";
}
#footer{
  padding: 3% 5%;

  text-align: center;
}

.copyright-name{
  color: #212529
}
.footer-icons{
  padding:8px;
}
